.page {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.canvas {
  aspect-ratio: 1 / 1;
  background: #212529;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  gap: clamp(.5rem, 3vmax, 1.5rem);
  padding: max(7%, 1rem);
  color: white;
  position: relative;
  line-height: 1.1;
}

.text {
  flex: 1 0 auto;
  font-family: Inter Display;
  hyphens: auto;
  position: relative;
  font-weight: bold;
  font-feature-settings: "salt", "ss02";
}

.byline {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: 1.1;
}

.title {
  font-family: Ivar Headline;
  color: #adb5bd;
  font-weight: 600;
  font-feature-settings: 'pnum' on, 'onum' on;
}

.indices {
  color: #868e96;
  font-size: 0.5em;
  font-family: SFCamera;
}

.dropCap:first-letter {
  position: relative;
}

.text:after {
  /* content: ''; */
  position: absolute;
  height: 1.25em;
  width: 1.35em;
  background: #37B24D;
  background-repeat: no-repeat;
  top: 0;
  left: 0.02em;
  mix-blend-mode: hard-light;
}

.text.triangle:after {
  content: '';
  position: absolute;
  background: #37b24d;
  top: 0;
  left: 0.02em;
  mix-blend-mode: hard-light;
  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  border-bottom: 2.5em solid #37b24d;
}

.background {
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light; 
}

.backgroundRect { 
  mix-blend-mode: hard-light;
}

.globe {
  position: absolute;
  width: 180%;
  height: 180%;
  top: -20%;
  left: -20%;
  mix-blend-mode: hard-light;
}