.wrapper {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textInput {
  all: unset;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s;
}

.textInput:focus {
  box-shadow: 0 2px 0 0 tomato;
  border-color: tomato;
}

.inputAndButton {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
}

.submitButton {
  all: unset;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 8px;
  margin: -8px;
  border-radius: 8px;
  transition: all 0.2s;
}

.submitButton:hover {
  background: #eee;
}

.submitButton[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.statusLabel {
  font-style: italic;
  color: gray;
  font-size: 0.8rem;
  padding-left: 12px;
}
