.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}

.container > div:first-child {
  padding: 2rem;
  max-width: 58ch;
  flex: 1 0 auto;
  position: sticky;
  top: 0;
}

.container > .declarationProse {
  border-left: 4px solid #eee;
  padding: 4rem;
  flex: 1 1 auto;
}

.header {
  margin-bottom: 1rem;
}

.title {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 3rem;
  --fluid-type-target: 5vw;
  font-family: 'Inter Display';
  font-weight: 900;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.8);
}

.title > span {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: -4px;
  padding-right: 5.5px;
}

.subtitle {
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 1.5vw;
  line-height: 1.4;
}

.byline {
  color: gray;
}

.intro > p:not(:first-child) {
  text-indent: 3ch;
}

.dropCap:first-letter {
  /* color: #F08C00; */
  float: left;
  font-family: Georgia;
  font-size: 3.4em;
  line-height: 0.7;
  padding-top: 0.12em;
  padding-right: 0.15em;
  padding-left: 0.1em;
}

.declarationGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(300px, 100%), 1fr)
  );
}

.oulipo {
  font-family: Menlo, monospace;
  font-size: 0.75em;
  padding: 2rem 0;
  opacity: 0.65;
}

.background {
  position: relative !important;
  aspect-ratio: 1 / 1;
  height: 180px;
  margin: 0.5rem 0 1rem;
  border: 4px solid black;
  padding: 4px;
}

.declarationLink {
  all: unset;
  cursor: zoom-in;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 1px;
  color: inherit;
  font-weight: 600;
}

.declarationLinkSelected {
  background: #FFFD54;
  cursor: zoom-out;
}

.textInput {
  all: unset;
  padding: 8px 12px;
  border: 1px solid #ccc;
  margin: 1.5rem 0;
  border-radius: 4px;
  width: 100%;
}

.textInput:focus {
  border-color: red;
}

.declarationProse > * {
  max-width: 64ch;
}

.declarationProse > * + * {
  margin-top: 1.25rem;
}

.declarationProse hr {
  margin: 1.5rem 0;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.08);
}