.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
  gap: 6rem;
}

.container {
  position: relative;
}

.container > div:first-child {
  max-width: 68ch;
  flex: 1 1 auto;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  margin-bottom: 1rem;
}

.logo {
  max-width: 20rem;
  margin-bottom: 12px;
}

.subtitle {
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 1.5vw;
  line-height: 1.4;
}

.byline {
  color: gray;
}

.intro > p:not(:first-child) {
  text-indent: 3ch;
}

.declaration {
  position: sticky;
  top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button {
  all: unset;
  padding: 8px 12px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.button:hover,
.button:focus {
  background: rgba(0, 0, 0, 0.08);
}

.buttonWalletConnected {
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: aquamarine;
}

.buttonWalletConnected:hover,
.buttonWalletConnected:focus {
  background: aquamarine;
}

.mintButton {
  /* width: fill; */
  flex-grow: 1;
  text-align: center;
}
